{% extends 'padre.html' %}

{% block contenidoQueCambia %}

{% load static %}


<section class="about-me">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-center">Acerca de mí</h2>
                <p class="lead text-center mb-5">Información personal</p>
                <ul class="list-unstyled">
                    <li><strong>Nombre:</strong> Federico Díaz </li>
                    <li><strong>Edad:</strong> 24 años </li>
                    <li><strong>Ubicación:</strong> Montevideo, Uruguay </li>
                    <li><strong>Ocupación:</strong> Estudiante</li>
                    <!-- Otros detalles personales -->
                </ul>                
            </div>
        </div>
    </div>
</section>

{% endblock contenidoQueCambia %}