{% extends 'padre.html' %}

{% block contenidoQueCambia %}

{% load static %}


<section class="about-me">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-center">Acerca de mí</h2>
                <p class="lead text-center mb-5">Información personal</p>
                <ul class="list-unstyled">
                    <li><strong>Nombre:</strong> Tu Nombre</li>
                    <li><strong>Edad:</strong> Tu Edad</li>
                    <li><strong>Ubicación:</strong> Tu Ubicación</li>
                    <li><strong>Ocupación:</strong> Tu Ocupación</li>
                    <!-- Otros detalles personales -->
                </ul>                
            </div>
        </div>
    </div>
</section>

{% endblock contenidoQueCambia %}