{% extends 'padre.html' %}

{% block contenidoQueCambia %}

{% load static %}

<h1>Vista de productos</h1>

<p>Lista de productos disponibles</p>

{% if lista_productos %}

<section class="lista-productos">

  {% for producto in lista_productos %}

  <div class="card" style="width: 18rem;">
    <img src="https://thumbs.dreamstime.com/b/manila-philippines-jan-canned-food-cooking-oil-other-basic-necessities-sale-sari-store-small-neighborhood-retail-shop-239564423.jpg" class="card-img-top" alt="producto">
    <div class="card-body">
      <h5 class="card-title">{{producto.codigo}} - {{producto.nombre}} - {{producto.marca}} - {{producto.tipo}} - {{producto.precio_costo}}</h5>
      <p class="card-text">Detalle del producto.</p>
      <a href="#" class="btn btn-primary">Ver detalle</a>
    </div>
  </div>

  {% endfor %}
    
</section>
{% else %}
<p>No hay productos disponibles en este momento.</p>
{% endif %}



<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item {% if current_page == 0 %}disabled{% endif %}">
      {% if current_page > 0 %}
        <a class="page-link" href="{% url 'Productos' current_page|add:-1 %}?direccion=previous">Previous</a>
      {% else %}
        <span class="page-link">Previous</span>
      {% endif %}
    </li>
    <li class="page-item {% if current_page >= max_page %}disabled{% endif %}">
      {% if current_page < max_page %}
        <a class="page-link" href="{% url 'Productos' current_page|add:1 %}?direccion=next">Next</a>
      {% else %}
        <span class="page-link">Next</span>
      {% endif %}
    </li>
  </ul>
</nav>


{% endblock contenidoQueCambia %}
  